@font-face {
  font-family: "darker-grotesque";
  src: url(/assets/fonts/DarkerGrotesque-SemiBold.ttf);
}
body {
  background: rgb(13, 13, 13);
  color: #fff;
  overflow-x: hidden;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  background: rgb(13, 13, 13);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
}

#submit {
  display: none;
}

.nav-container {
  width: 95%;
  margin: 20px auto;
}
.nav-container nav {
  font-family: darker-grotesque, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container nav img {
  height: 25px;
}
.nav-container nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-container nav ul li {
  padding: 0 20px;
  list-style: none;
  transition: 0.2s;
}
.nav-container nav ul li:hover {
  cursor: pointer;
  color: grey;
}
.nav-container nav ul li a {
  text-decoration: none;
  color: #fff;
}
.nav-container nav ul li a:hover {
  cursor: pointer;
  color: grey;
}

.hero {
  font-family: darker-grotesque, sans-serif;
}
.hero::before {
  content: url(/assets/img/side-deco.png);
  left: -250px;
  top: 300px;
  transform: rotate(40deg);
  position: absolute;
  z-index: -5;
  opacity: 0.8;
}
.hero h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-top: 70px;
}
.hero h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  transition: 0.5s;
}
.hero .results-container ul {
  justify-content: center;
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  color: #76ca61;
}
.hero .results-container ul li {
  margin: 10px 40px;
  font-size: 1.2rem;
}
.hero .results-container .progression-bar-container {
  width: 500px;
  height: 40px;
  border: 2px solid white;
  margin: 0 auto;
  border-radius: 100px;
}
.hero .results-container #progression-bar {
  transition: 0.5s;
  background: #76ca61;
  height: 40px;
  width: 0%;
  border-radius: 100px 0px 0px 100px;
  z-index: -3;
}

.btn-container {
  justify-content: center;
  margin-top: 50px;
  display: flex;
}
.btn-container #discover {
  margin-bottom: 30px;
  padding: 10px 14px;
  color: #fff;
  background: #76ca61;
  border: none;
  font-family: darker-grotesque, sans-serif;
  font-size: 1rem;
  border-radius: 15px;
  transition: 0.2s;
  text-transform: uppercase;
}
.btn-container #discover:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#txt-results {
  text-align: center;
  margin: 40px auto;
  width: 70%;
  justify-content: center;
  font-size: 1.3rem;
}

footer {
  font-family: darker-grotesque, sans-serif;
  background: #76ca61;
  margin-top: 300px;
}
footer .rs {
  display: flex;
  justify-content: center;
}
footer .rs li {
  margin: 15px 50px;
  font-size: 2rem;
}
footer .menu-footer {
  display: flex;
  justify-content: center;
}
footer .menu-footer li {
  margin: 15px 50px;
  font-size: 1.3rem;
}
footer .mentions-container {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .mentions-container p {
  margin: 10px 50px;
}
footer p {
  text-align: center;
  padding-bottom: 40px;
}/*# sourceMappingURL=index.css.map */