.nav-container {
    width: 95%;
    margin: 20px auto;
    nav {
        font-family: $font1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            height: 25px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            li {
                padding: 0 20px;
                list-style: none;
            }
        }
    }
}
.hero {
    font-family: $font1;
    // &:after {
    //     content: url(/assets/img/side-deco.png);
    //     right: -250px;
    //     top: 0px;
    //     transform: rotate(40deg);
    //     position: absolute;
    //     z-index: -5;
    //     opacity: 0.8;
    // }
    &::before {
        content: url(/assets/img/side-deco.png);
        left: -250px;
        top: 300px;
        transform: rotate(40deg);
        position: absolute;
        z-index: -5;
        opacity: 0.8;
    }
    h1 {
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        margin-top: 70px;
    }
    .results-container {
        ul {
            justify-content: center;
            display: flex;
            list-style: none;
            text-align: center;
            align-items: center;
            color: $green;
            li {
                margin: 10px 40px;
                font-size: 1.2rem;
            }
        }
        .progression-bar-container {
            width: 500px;
            height: 40px;
            border: 2px solid white;
            margin: 0 auto;
            border-radius: 100px;
        }
        #progression-bar {
            transition: 0.5s;
            background: $green;
            height: 40px;
            width: 0%;
            border-radius: 100px 0px 0px 100px;
            z-index: -3;
        }
    }
}
.btn-container {
    justify-content: center;
    margin-top: 50px;
    display: flex;
    #discover {
        margin-bottom: 30px;
        padding: 10px 14px;
        color: $white;
        background: $green;
        border: none;
        font-family: $font1;
        font-size: 1rem;
        border-radius: 15px;
    }
}

#txt-results {
    text-align: center;
    margin: 40px auto;
    width: 70%;
    justify-content: center;
    font-size: 1.3rem;
}
